main{
  display: flex;
  position: relative;
  background-color: RGBA(240,240,240,0.2);
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.device {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
  width: 850px;
  height: 550px;
  border-radius: 25px 25px 25px 25px;
}

.controls{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 40px 30px;
  width: 25%;
  height: 550px;
  border-radius: 25px 0 0 25px;
}
.bookend{
  display: flex;
  flex-grow: 1;
  border-radius: 0 25px 25px 0;
  justify-content: center;
  padding: 20px;
}

.button{
  display: flex;
  width: 35%;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.button:nth-child(even) {
  align-self: flex-end;
}

.button:hover{
  cursor: pointer;
}

.selector{
  display: flex;
  position: relative;
  background: linear-gradient(to left, #333, #333 50%, #eee 100%);
  border-radius: 25px;
  width: 100%;
  height: 5px;
  margin-top: 95px;
}

.marker{
  position: absolute;
  background-color: black;
  transform: translate(-50%, -50%);
  left: 10%;
  top: 50%;
  height: 35px;
  width: 8px;
  border-radius: 25px;
  transition: transform 1s;
}

.marker:hover{
  cursor: pointer;
}

[draggable=true] {
  cursor: move;
}

.labels {
  display: flex;
  width: 100%;
  justify-content: space-around;
  user-select: none;
  color: white;
}

.group-1{
  display: flex;
  flex-direction: column;
}

.group-2 {
  display: flex;
  justify-content: space-between;
}
.group-3 {
  display: flex;
  justify-content: center;
}

.screen{
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 550px;
  border-radius: 0 25px 25px 0;
  background-color: rgba(0, 0, 0, 0.02);
}

.sticky{
  position: absolute;
  top:0;
  left: 0;
  background-color: red;
  width: 400px;
  height: 400px;
}

.block{
  display: flex;
  border: .15px solid RGBA(240,240,240,0.2);
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
}

.row{
  display: flex;
  width: 100%;
  height: calc(100% / 16);
}

#button1{
  background-color: #000 ;
}
#button2 {
  background-color: #f94144;
  background-image: linear-gradient(to right,
      #f3722c,
      #f8961e,
      #f9844a,
      #f9c74f,
      #90be6d,
      #43aa8b,
      #4d908e,
      #577590,
      #277da1);
}
#button3 {
  background-color: #FF4749;
}
#button4 {
  background-color: #52A5FF ;
}
#button5 {
  background-color: #F7C200;
}
#button6 {
  background-color: #1EB85E ;
}
#button7 {
  background-color: white;
}

#button8 {
  background-color: white;
  background-image: url('images/eraser-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

#reset{
  width: 50px;
  height: 50px;
  background-image: url('images/undo-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}
